html, body{
  height: 100%;
  width: 100%;
  text-align: center;
}

body, input{
  position: relative;
  font-family: 'Arial Black', Gadget, sans-serif;
  color: #fff;
  background-color: #FF6600;
}

section{
  position: relative;
}

h4{
  margin-top: 0px;
}

#mainSection{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clock{
  height: 100%;
  width: 100%;
  margin: 10px;
  border: 8px solid #ffffff;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500;
  width: 275px;
  height: 275px;
}

#clock div{
  display: inline-block;
  padding: 10px;
}

#clock div > span{
  font-family: Impact, Charcoal, sans-serif;
  font-size: 50px;
  width: 50px;
  display: inline-block;
}

#phone{
  position: relative;
  width: 100px;
  height: auto;
}

input{
  border: none;
  background: transparent;
  border-bottom: dashed 2px #fff;
}

input:focus{
  outline: none;
}
