/* General styling for elements */
html, body{
  position: relative;
  font-family: 'Nunito', sans-serif;

  padding: 0;
  margin: 0;

  width: 100vw;

  color: #333;
  background-color: #fdfdfd;
}

section{
  text-align: center;
  padding: 50px 0;
  width: 100vw;
}

ul{
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;

  transition: all .3s ease-in-out;
}

li{
  overflow: hidden;

  list-style: none;
  text-align: left;

  max-width: 50%;
  width: 100vw;
  max-height: 240px;

  background: #BBDEFB;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  transition: all .3s ease-in-out;

  color: #fff;
}

li:hover{
  background-size: 150%;
}

li h1{
  margin-bottom: 0;
  cursor: pointer;
}

li p{
  margin-top: 0;
  cursor: pointer;
}

/* Styling for the project element information container */
#portfolio{
  padding: 0;
}

.container{
  position: relative;
  padding: 75px 30px;
  transition: all .3s ease-in-out;
}

/* Gradient overlay for more visible text */
.container.even{
  background: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2));
  background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2));
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2));
}

.container.odd{
  background: -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2));
  background: -o-linear-gradient(-90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2));
  background: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2));
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2));

  text-align: right;
}

li:hover > .container{
  padding: 75px 50px;
  text-shadow: 0 0 10px #000;
}

.projectName{
  color: #fff;
  text-decoration: none;
}

/* styling for links that opens a new tab for previews or repositories */
.links{
  position: absolute;

  height: 100%;
  right: 20px;

  top: 0;
  bottom: 0;

  color: #000;

  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.container.odd .links{
  right: 100%;
  transform: translateX(70px);
}

.links a{
  color: #1A237E;
  padding: 10px 0;

  text-decoration: none;
  text-shadow: 0 0 1px #fff;

  transition: all .3s ease-in-out;
}

.links a:hover{
  color: #4A148C;
  text-shadow: 0 0 10px #fff;
}

/* Styling for the header parallax effect */
#header{
  overflow: hidden;
  position: relative;
  letter-spacing: 20px;
}

#header h1:nth-child(2){
  padding-left: 35px;
}

/* positioning for the hidden name that is displayed when the name aligns */
#full-name{
  display: none;
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;

  letter-spacing: 1px;
}

/* Styling of the last to sections of the document */
#contact,
#footer > .container{
  text-align: center;
  position: relative;

  margin: 0 auto;
  padding: 50px 0;

  max-width: 700px;
}

#contact-mail{
  position: fixed;
  top: 0px;
  right: 20px;

  background-color: #fff;
  color: #0d47a1;

  padding: 10px;
  border-radius: 100%;

  z-index: 10;
  cursor: pointer;
}

#footer a{
  color: #000;
}

#footer a:hover{
  color: #0d47a1;
}

/* Scale things down for small screens */
@media (max-width: 850px) {
  li{
    max-width: 100%;
  }

  .container.odd{
    background: rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2));
    background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2));
    background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2));

    text-align: left;
  }

  .container.odd .links{
    right: 20px;
    transform: translateY(0);
  }
}
